= render 'layouts/header_form'
.main-user-page
  .user_container
    .user_contents
      .identification-container
        %h2.identification__header
          本人確認
        %p.identification__header-text
          お客さまのあんしん・あんぜんな取引のため、本人情報のご登録をお願いしております。
        .identification__form_tag
          = form_for @user do |f|
            .identification__form-group
              %label
                お名前
              %span.require
                必須
              = f.text_field :first_name, class: "name"
              = f.text_field :last_name, class: "name"

            .identification__form-group
              %label
                郵便番号
              %span.any
                任意
              = f.text_field :postal_code, class: "name"
            .identification__form-group
              %label
                都道府県
              %span.require
                必須
              .select-wrap
                = f.text_field :prefecture, class: "name"
            .identification__form-group
              %label
                市町村
              %span.require
                必須
              = f.text_field :municipality, class: "name"
            .identification__form-group
              %label
                番地
              %span.require
                必須
              = f.text_field :address, class: "name"
              .form-text
                ※出品されたことがある、本人情報未登録のお客さまもご対象となります。
            = f.submit "登録する", class: "identification__form-bottom"
            .identification__help--link
              本人情報登録について
              = fa_icon 'chevron-right', class: 'icon'
    =render "layouts/sidebar"
= render 'layouts/footer'
