= render 'layouts/header_form'
.main-contents
  .items-box-container
    .items-box-content
      - @items.each do |item|
        .items-box
          = link_to item_path(item) do
            %figure.items-box-photo
              = image_tag item.image.url
            .items-box-body
              .items-box-namefont
                = item.name
            .items-box-price
              .items-box-price-font
                = "¥" + item.price
                %p.items-box-tax
= render 'layouts/sell_btn'
= render 'layouts/footer'
